# Environment variables
.env
.env.local
.env.development
.env.production

# Dependencies
node_modules
dist

# Logs
*.log

# Database
*.db
*.sqlite

# Prisma (généré automatiquement sur serveur)
# prisma/migrations/

# Uploads
uploads/

# Editor
.vscode
.idea

node_modules/
dist/
build/
.vercel/
.next/
.env
.env.local
*.log
.vscode/

# médias lourds
*.psd
*.psb
*.mp4